/*Slitslider primary style*/
.sl-slider-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
/* Slide wrapper and slides */
.sl-slide, .sl-slides-wrapper, .sl-slide-inner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.sl-slide {
	z-index: 1;
}
/* The duplicate parts/slices */
.sl-content-slice {
	overflow: hidden;
	position: absolute;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background: #fff;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	opacity : 1;
}
/* Horizontal slice */
.sl-slide-horizontal .sl-content-slice {
	width: 100%;
	height: 50%;
	left: -200px;
	-webkit-transform: translateY(0%) scale(1);
	-moz-transform: translateY(0%) scale(1);
	-o-transform: translateY(0%) scale(1);
	-ms-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
}
.sl-slide-horizontal .sl-content-slice:first-child {
	top: -200px;
	padding: 200px 200px 0px 200px;
}
.sl-slide-horizontal .sl-content-slice:nth-child(2) {
	top: 50%;
	padding: 0px 200px 200px 200px;
}
/* Vertical slice */
.sl-slide-vertical .sl-content-slice {
	width: 50%;
	height: 100%;
	top: -200px;
	-webkit-transform: translateX(0%) scale(1);
	-moz-transform: translateX(0%) scale(1);
	-o-transform: translateX(0%) scale(1);
	-ms-transform: translateX(0%) scale(1);
	transform: translateX(0%) scale(1);
}
.sl-slide-vertical .sl-content-slice:first-child {
	left: -200px;
	padding: 200px 0px 200px 200px;
}
.sl-slide-vertical .sl-content-slice:nth-child(2) {
	left: 50%;
	padding: 200px 200px 200px 0px;
}
/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper {
	position: absolute;
}
.sl-content {
	width: 100%;
	height: 100%;
	background: #fff;
}
/* Default styles for background colors */
.sl-slide-horizontal .sl-slide-inner {
	background: #ddd;
}
.sl-slide-vertical .sl-slide-inner {
	background: #ccc;
}
/*Custome Style */
/* Custom navigation arrows */
.nav-arrows span {
	position: absolute;
	z-index: 2000;
	top: 50%;
	width: 28px;
	height: 88px;
	text-indent: -999em;
	margin-top: -44px;
	cursor: pointer;
	background: url(../img/carousel-nav.png) no-repeat;
	opacity: 0.7;
}
.nav-arrows span:hover {
	opacity: 1;
}
.nav-arrows span.nav-arrow-prev {
	left: 5%;
	background-position: 0 0;
}
.nav-arrows span.nav-arrow-next {
	right: 5%;
	background-position: -28px 0;
}
/* Custom navigation dots */
.nav-dots {
	text-align: center;
	position: absolute;
	bottom: 10%;
	height: 30px;
	width: 100%;
	left: 0;
	z-index: 1000;
}
.nav-dots span {
	display: inline-block;
	position: relative;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 3px;
	background: #ddd;
	background: rgba(150,150,150,0.4);
	cursor: pointer;
	box-shadow: 0 1px 1px rgba(255,255,255,0.4), inset 0 1px 1px rgba(0,0,0,0.1);
}
.nav-dots span.nav-dot-current:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	top: 3px;
	left: 3px;
	border-radius: 50%;
	background: rgba(255,255,255,0.8);
}
/* Content elements */
.solution-slide .deco {
	background: rgba(255,255,255,0.8);
	border: 2px dashed rgba(0,0,0, 0.1);
	border-radius: 50%;
	bottom: 50%;
	height: 180px;
	left: 50%;
	margin: 0 0 0 -100px;
	position: absolute;
	width: 180px;
}
.solution-slide .deco-inner {
	/*background: url(../img/cats.png) no-repeat 50% 50%;*/
	border-radius: 50%;
	box-shadow: 0 0 0 10px #f7f7f7 inset;
	color: #999;
	font-size: 100px;
	height: 150px;
	left: 50%;
	line-height: 200px;
	margin: -75px 0 0 -75px;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 1px #999;
	top: 50%;
	width: 150px;
}
.solution-slide .sl-slide .slit-box {
	left: 10%;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 80%;	
	z-index: 2;
}
.solution-slide .sl-slide h2 {
	color: /* #057bae*/ #fff;
	font-family: "Lato", sans-serif;
	font-size: 40px;
	font-weight: 300;
	margin: 0;
	padding: 20px;
}
.solution-slide .sl-slide p {
	border-left: medium none;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	padding: 0;

}
.solution-slide .sl-slide p span {
	display: block;
	text-align: center;
}
/* Custom background colors for slides in first demo */
/* First Slide */
.solution-slide .ep .deco-inner {
	background: url(../img/ep.png) no-repeat 50% 50%;
}
/* Third Slide */
.solution-slide .fin .deco-inner {
	background: url(../img/financial-icon.png) no-repeat 50% 50%;
}
/* Forth Slide 
.solution-slide .chas .deco-inner {
	background: url(../img/chas.png) no-repeat 50% 50%;
}
/* Fifth Slide */
.solution-slide .manuf .deco-inner {
	background: url(../img/manufUtil.png) no-repeat 50% 50%;
}
/* sixth Slide */
.solution-slide .hc .deco-inner {
	background: url(../img/health-care.png) no-repeat 50% 50%;
}
/* seventh Slide 
.solution-slide .sw .deco-inner {
	background: url(../img/sw.png) no-repeat 50% 50%;
}
/* Eieght Slide 
.solution-slide .de .deco-inner {
	background: url(../img/de.png) no-repeat 50% 50%;
}*/
.solution-slide .fin .sl-slide-inner, .solution-slide .fin .sl-content-slice, .solution-slide .fin .sl-slide-inner, .solution-slide .fin .sl-content-slice, .solution-slide .de .sl-slide-inner, .solution-slide .de .sl-content-slice {
	background: url(../img/finance-bg.jpg) repeat fixed 0 0 / cover;
}
.solution-slide .hc .sl-slide-inner, .solution-slide .hc .sl-content-slice, .solution-slide .hc .sl-slide-inner, .solution-slide .hc .sl-content-slice, .solution-slide .de .sl-slide-inner, .solution-slide .de .sl-content-slice {
	background: url(../img/health-bg.jpg) repeat fixed 0 0 / cover;
}
.solution-slide .cats .sl-slide-inner, .solution-slide .cats .sl-content-slice, .solution-slide .cove .sl-slide-inner, .solution-slide .cove .sl-content-slice, .solution-slide .manuf .sl-slide-inner, .solution-slide .manuf .sl-content-slice, .solution-slide .sw .sl-slide-inner, .solution-slide .sw .sl-content-slice {
	background: url(../img/manuf&util.jpg) repeat fixed 0 0 / cover;
}
.solution-slide .ep .sl-content-slice, .solution-slide .ep .sl-slide-inner {
	background: url(../img/ep-bg.jpg) repeat fixed 0 0 / cover;

}
.solution-slide .ep h2, .solution-slide .ep p {
	color: #fff;
}
.solution-slide .deco-inner{
	box-shadow: 0 0 0 10px rgba(0,0,0,0.1) inset;
}
/* Animations for content elements */

.sl-trans-elems .deco {
	-webkit-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-moz-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-o-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	-ms-animation: roll 1s ease-out both, fadeIn 1s ease-out both;
	animation: roll 1s ease-out both, fadeIn 1s ease-out both;
}
.sl-trans-elems h2 {
	-webkit-animation: moveUp 1s ease-in-out both;
	-moz-animation: moveUp 1s ease-in-out both;
	-o-animation: moveUp 1s ease-in-out both;
	-ms-animation: moveUp 1s ease-in-out both;
	animation: moveUp 1s ease-in-out both;
}
.sl-trans-back-elems .deco {
	-webkit-animation: scaleDown 1s ease-in-out both;
	-moz-animation: scaleDown 1s ease-in-out both;
	-o-animation: scaleDown 1s ease-in-out both;
	-ms-animation: scaleDown 1s ease-in-out both;
	animation: scaleDown 1s ease-in-out both;
}
.sl-trans-back-elems h2 {
	-webkit-animation: fadeOut 1s ease-in-out both;
	-moz-animation: fadeOut 1s ease-in-out both;
	-o-animation: fadeOut 1s ease-in-out both;
	-ms-animation: fadeOut 1s ease-in-out both;
	animation: fadeOut 1s ease-in-out both;
}
.sl-trans-back-elems blockquote {
	-webkit-animation: fadeOut 1s linear both;
	-moz-animation: fadeOut 1s linear both;
	-o-animation: fadeOut 1s linear both;
	-ms-animation: fadeOut 1s linear both;
	animation: fadeOut 1s linear both;
}
@-webkit-keyframes roll {
	0% {
		-webkit-transform: translateX(500px) rotate(360deg);
	}
	100% {
		-webkit-transform: translateX(0px) rotate(0deg);
	}
}
@-moz-keyframes roll {
	0% {
		-moz-transform: translateX(500px) rotate(360deg);
		opacity: 0;
	}
	100% {
		-moz-transform: translateX(0px) rotate(0deg);
		opacity: 1;
	}
}
@-o-keyframes roll {
	0% {
		-o-transform: translateX(500px) rotate(360deg);
		opacity: 0;
	}
	100% {
		-o-transform: translateX(0px) rotate(0deg);
		opacity: 1;
	}
}
@-ms-keyframes roll {
	0% {
		-ms-transform: translateX(500px) rotate(360deg);
		opacity: 0;
	}
	100% {
		-ms-transform: translateX(0px) rotate(0deg);
		opacity: 1;
	}
}
@keyframes roll {
	0% {
		transform: translateX(500px) rotate(360deg);
		opacity: 0;
	}
	100% {
		transform: translateX(0px) rotate(0deg);
		opacity: 1;
	}
}
@-webkit-keyframes moveUp {
	0% {
		-webkit-transform: translateY(40px);
	}
	100% {
		-webkit-transform: translateY(0px);
	}
}
@-moz-keyframes moveUp {
	0% {
		-moz-transform: translateY(40px);
	}
	100% {
		-moz-transform: translateY(0px);
	}
}
@-o-keyframes moveUp {
	0% {
		-o-transform: translateY(40px);
	}
	100% {
		-o-transform: translateY(0px);
	}
}
@-ms-keyframes moveUp {
	0% {
		-ms-transform: translateY(40px);
	}
	100% {
		-ms-transform: translateY(0px);
	}
}
@keyframes moveUp {
	0% {
		transform: translateY(40px);
	}
	100% {
		transform: translateY(0px);
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes scaleDown {
	0% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0.5);
	}
}
@-moz-keyframes scaleDown {
	0% {
		-moz-transform: scale(1);
	}
	100% {
		-moz-transform: scale(0.5);
	}
}
@-o-keyframes scaleDown {
	0% {
		-o-transform: scale(1);
	}
	100% {
		-o-transform: scale(0.5);
	}
}
@-ms-keyframes scaleDown {
	0% {
		-ms-transform: scale(1);
	}
	100% {
		-ms-transform: scale(0.5);
	}
}
@keyframes scaleDown {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.5);
	}
}
@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-moz-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-o-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@-ms-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
/* Media Queries for custom slider */
@media screen and (max-width: 660px) {
	.solution-slide .deco {
		width: 130px;
		height: 130px;
		margin-left: -65px;
		margin-bottom: 50px;
	}
	.solution-slide [data-icon]:after {
		width: 110px;
		height: 110px;
		line-height: 110px;
		font-size: 40px;
		margin: -55px 0 0 -55px;
	}
	.solution-slide .sl-slide blockquote {
		margin-bottom: -120px;
	}
	.solution-slide .sl-slide h2 {
		font-size: 22px;
	}
	.solution-slide .sl-slide blockquote p:before {
		line-height: 10px;
		width: 40px;
		height: 40px;
		font-size: 120px;
		left: -45px;
	}
}
@media screen and (max-width: 360px) {
	.solution-slide .sl-slide h2 {
		font-size: 20px;
	}
}
@media screen and (max-width: 320px) {
	.solution-slide .sl-slide h2 {
		font-size: 18px;
	}
	.solution-slide .sl-slide p {
		font-size: 12px;
	}
}